.Pagination {
  display: flex;

  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.Pagination ul {
  margin: auto;
  display: flex;
  padding: 0;
}

.Pagination li {
  list-style: none;
}
.Pagination li.selected a {
  color: rebeccapurple;
  border-color: rebeccapurple;
}

.Pagination a {
  background-color: aliceblue;
  cursor: pointer;
  display: block;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
  min-width: 20px;
  text-align: center;
}
